@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Music Sheet";
}

<h1>@ViewData["Title"]</h1>

<p>Generate your music sheet. Click Add to add a line. ♩♩</p>

<div class="btn-group" role="group" aria-label="radio buttons">
    <button id="play" type="button" class="btn btn-danger"><i class="fa fa-play"></i></button>
    <button id="pause" type="button" class="btn btn-danger"><i class="fa fa-pause"></i></button>
    <button id="stop" type="button" class="btn btn-danger"><i class="fa fa-stop"></i></button>
</div>

<audio id="do-low" src="@Url.Content("~/audio/do_low.m4a")"></audio>
<audio id="re-low" src="@Url.Content("~/audio/re_low.m4a")"></audio>
<audio id="mi-low" src="@Url.Content("~/audio/mi_low.m4a")"></audio>
<audio id="fa-low" src="@Url.Content("~/audio/fa_low.m4a")"></audio>
<audio id="sol-low" src="@Url.Content("~/audio/sol_low.m4a")"></audio>
<audio id="la-low" src="@Url.Content("~/audio/la_low.m4a")"></audio>
<audio id="ti-low" src="@Url.Content("~/audio/ti_low.m4a")"></audio>
<audio id="do-hi" src="@Url.Content("~/audio/do_hi.m4a")"></audio>
<audio id="re-hi" src="@Url.Content("~/audio/re_hi.m4a")"></audio>
<audio id="mi-hi" src="@Url.Content("~/audio/mi_hi.m4a")"></audio>
<audio id="fa-hi" src="@Url.Content("~/audio/fa_hi.m4a")"></audio>
<audio id="sol-hi" src="@Url.Content("~/audio/sol_hi.m4a")"></audio>
<audio id="la-hi" src="@Url.Content("~/audio/la_hi.m4a")"></audio>

<div id="sheet-group">
    <div class="stave" id="sheet1">
        <div class="note-grid" id="grid">
            <button class="note" onClick="addNote(this.id)" id="r0-c0-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c1-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c2-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c3-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c4-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c5-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c6-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c7-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c8-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c9-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c10-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r0-c11-0"><span class="note-flipped" hidden>♩</span><span class="note-line" hidden>---</span></button>

            <button class="note" onClick="addNote(this.id)" id="r1-c0-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c1-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c2-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c3-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c4-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c5-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c6-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c7-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c8-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c9-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c10-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r1-c11-0"><span class="note-flipped" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r2-c0-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c1-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c2-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c3-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c4-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c5-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c6-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c7-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c8-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c9-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c10-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r2-c11-0"><span class="note-flipped" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r3-c0-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c1-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c2-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c3-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c4-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c5-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c6-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c7-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c8-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c9-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c10-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r3-c11-0"><span class="note-flipped" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r4-c0-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c1-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c2-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c3-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c4-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c5-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c6-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c7-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c8-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c9-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c10-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r4-c11-0"><span class="note-flipped" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r5-c0-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c1-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c2-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c3-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c4-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c5-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c6-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c7-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c8-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c9-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c10-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r5-c11-0"><span class="note-flipped" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r6-c0-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c1-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c2-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c3-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c4-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c5-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c6-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c7-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c8-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c9-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c10-0"><span class="note-flipped" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r6-c11-0"><span class="note-flipped" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r7-c0-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c1-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c2-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c3-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c4-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c5-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c6-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c7-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c8-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c9-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c10-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r7-c11-0"><span class="note" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r8-c0-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c1-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c2-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c3-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c4-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c5-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c6-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c7-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c8-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c9-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c10-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r8-c11-0"><span class="note" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r9-c0-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c1-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c2-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c3-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c4-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c5-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c6-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c7-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c8-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c9-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c10-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r9-c11-0"><span class="note" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r10-c0-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c1-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c2-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c3-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c4-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c5-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c6-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c7-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c8-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c9-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c10-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r10-c11-0"><span class="note" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r11-c0-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c1-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c2-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c3-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c4-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c5-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c6-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c7-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c8-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c9-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c10-0"><span class="note" hidden>♩</span></button>
            <button class="note" onClick="addNote(this.id)" id="r11-c11-0"><span class="note" hidden>♩</span></button>

            <button class="note" onClick="addNote(this.id)" id="r12-c0-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c1-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c2-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c3-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c4-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c5-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c6-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c7-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c8-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c9-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c10-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
            <button class="note" onClick="addNote(this.id)" id="r12-c11-0"><span class="note" hidden>♩</span><span class="note-line" hidden>---</span></button>
        </div>
        <img id="highlight" src="~/images/highlight.png" alt="Highlight" hidden>
    </div>
</div>

<button type="button" class="btn btn-primary" id="btn-add" />Add<i class="glyphicon glyphicon-plus-sign" style="font-size:20px"></i></button>
<button type="button" class="btn btn-danger" id="btn-remove" hidden />Remove<i class="glyphicon glyphicon-minus-sign" style="font-size:20px"></i></button>

<script src="~/js/sheet.js" asp-append-version="true"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sheet.css")" media="screen" asp-append-version="true" />
